In [1]:
import pandas as pd
from sklearn.utils import resample

In [3]:
train_df = pd.read_csv("train.csv")

print("Phân bố nhãn ban đầu:")
train_df["stars"].value_counts()

Phân bố nhãn ban đầu:

stars
5    53304
4    30203
3    13579
1    13134
2     9666
Name: count, dtype: int64

In [4]:
min_count = train_df["stars"].value_counts().min()
min_count

np.int64(9666)

In [5]:
balanced_dfs = []
for label in train_df["stars"].unique():
    df_label = train_df[train_df["stars"] == label]
    df_label_down = resample(df_label, 
                              replace=False, 
                              n_samples=min_count, 
                              random_state=42)
    balanced_dfs.append(df_label_down)
train_under = pd.concat(balanced_dfs).sample(frac=1, random_state=42)

In [6]:
print("Phân bố nhãn sau khi undersampling:")
train_under["stars"].value_counts()

Phân bố nhãn sau khi undersampling:

stars
1    9666
2    9666
3    9666
5    9666
4    9666
Name: count, dtype: int64

In [7]:
train_under.to_csv("train_undersample.csv", index=False)
print("Đã lưu file")

Đã lưu file

In [8]:
compare_df = pd.DataFrame({
    "Original": train_df["stars"].value_counts().sort_index(),
    "Undersample": train_under["stars"].value_counts().sort_index()
})

compare_df

       Original  Undersample
stars
1         13134         9666
2          9666         9666
3         13579         9666
4         30203         9666
5         53304         9666